################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ContosoPizza/obj
/ContosoPizza/bin/Debug/net7.0
/ContosoTestProject/bin/Debug/net8.0
